    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                    <h2>Our Team</h2>
                    </div>
                    <div class="content">
                        <div class="row">
                        <div class="col-lg-3 col-sm-5 text-center mb-4">
                            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
                            <h3>Soumya Kulkarni
                                <small>     </small>
                            </h3>
                            <p>soumya_kulkarni@persistent.co.in</p>
                        </div>
                        <div class="col-lg-3 col-sm-5 text-center mb-4">
                            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
                            <h3>Sakshi Singh
                                <small>     </small>
                            </h3>
                            <p>sakshi_singh@persistent.co.in</p>
                        </div>
                        <div class="col-lg-3 col-sm-5 text-center mb-4">
                            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
                            <h3>Snigdha Tamot
                                <small>     </small>
                            </h3>
                            <p>snigdha_tamot@persistent.co.in</p>
                        </div>

                        <div class="col-lg-3 col-sm-5 text-center mb-4">
                            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
                            <h3>Seema Kad
                                <small>     </small>
                            </h3>
                            <p>seema_kad@persistent.co.in</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
