    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-server"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers" id="tokensNum">
                                    <p>Tokens</p>
                                    $0
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Updated now
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-wallet"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers" id="rewardNum">
                                    <p>Rewards</p>
                                    $50
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Updated now
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-arrow-down"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Bet</p>
                                    0
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Updated now
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Play Now</h4>
                        <p class="category">Test your Luck</p>
                    </div>
                    <div class="content">
                        <img id="slotGif"  src="../assets/img/sm.gif" class="center-block">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-2"><img id="leftSlot" class="slots img-thumbnail img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt=""></div>
                            <div class="col-lg-2"><img id="middleSlot" class="slots img-thumbnail img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt=""></div>
                            <div class="col-lg-2"><img id="rightSlot" class="slots img-thumbnail img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt=""></div>
                            <div class="col-lg-3"></div>
                        </div>
                        <br><br>
                        
                        <button id="playBtn" class="btn btn-lg btn-success center-block" (click)="playGame()">Play Now</button> <br>
                        
                       
                    </div>
                </div>
            </div>
        </div>
       
    </div>
