    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h1 class="my-4">About Us
                            <small>It's Nice to Meet You!</small>
                        </h1>
                       </div>
                    <div class="content">

                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet
                            quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>


                    </div>
                </div>
            </div>

        </div>
    </div>
