    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h1 class="my-4">About Us
                            <small>It's Nice to Meet You!</small>
                        </h1>
                       </div>
                    <div class="content">

                        
                        <p>Problem Statement: <br>
                            Develop a gaming service similar to slot machine. <br>
                            
                            User should be able to play the game either with numbers or some goodies such as candies or fruits.
                            </p>


                    </div>
                </div>
            </div>

        </div>
    </div>
